:root {
    --dark-blue: #407297;
    --light-blue: #6996b7;
    --gray: #6d6d6d;
}

.rule-dot {
    position: relative;
    height: 2px;
    width: 34%;
    background:#d2dfe9;
}

.dot  {
    position: absolute;
    top: -1px;
    right: -10px;
    width: 4px;
    height: 4px;
    background:#d2dfe9;
}

.skewed-blurb__main {
    width: auto;
    padding: 0 5%;
}

.team {
    position: relative;
    width: 100%;
    height: 750px;
    margin-top: -160px;
    background: url("../assets/images/home-page/workplace.jpg");
    background-size: cover;
    z-index: 1;
}

.team-content {
    position: absolute;
    left: 40px;
    bottom: -20px;
    width: 100%;
}

.team-msg {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2.2px;
    line-height: 45px;
    margin-bottom: 150px;
    text-align: left;
}

.overview-blurb-container {
    display: flex;
    flex-direction: column;
    margin: 100px 40px 50px 40px;
}

.overview-blurb__headliner {
    color: var(--dark-blue);
    font-size: 43px;
    font-weight: 700;
}

.overview-blurb__headliner span {
    color: var(--light-blue);
}

.overview-blurb__txt {
    color: var(--gray);
    line-height: 1.5;
}

@media screen and (min-width: 990px) {

    .hero-txt {
        width: 309px;
        max-width: auto;
    }

    .hero-txt img {
        width: 309px;
    }

    .slick-img {
        width: 100%;
        height: 800px;
    }

    .skewed-blurb__main {
        width: 1000px;
        margin: 0 auto;
    }

    .blurb-headline {
        width: 610px;
        margin-left: 70px;
    }

    .blurb-txt {
        margin-left: 258px;
        text-align: right;
        width: 598px;
    }

    .blurb-btn {
        float: right;
    }

    .blurb-btn::after {
        top: 7px;
    }

    .team-content {
        left: auto;
        right: 0;
        width: 470px;
    }

    .overview-blurb-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .overview-blurb__headliner,
    .overview-blurb__txt {
        flex-basis: 45%;
    }

    .overview-blurb__headliner {
        text-align: right;
    }
}