main, div, a{
    color: black;
    letter-spacing: 2px;
    font-weight: 300;
}

.project-categories-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 64px 0 25px 10px;
}

.proj-cat-lnk-container {
    flex-basis: 12.5%;
    margin: 5px 0;
}

.proj-cat-lnk {
    font-size: 13px;
}

.proj-cat-lnk--all {
    font-weight: 700;
}

.proj-cat-lnk--space {
    margin-left: 5px;
}

.grid {
    width: 98%;
    margin: 40px 1%;
}

.grid-sizer,
.grid-item {
    width: 49%;
    margin: 0.5% 0;
}

.gutter-sizer {
    width: 1%;
}

.proj-img {
    height: 100%;
    width: 100%;
}

.proj-lnk {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: white;
    text-align: center;
    background: rgba(63,114,151,.8);
    height: 99%;
    width: 100%;
    transition: all 300ms ease;
    z-index: 2;
}

.proj-title {
    margin: 0;
    padding: 0 10px;
    font-weight: 300;
}

.proj-loc {
    font-size: 10px;
    font-weight: 400;
}

.grid-item:hover .proj-lnk{
    opacity: 1;
    transition: all 300ms ease;
}

@media screen and (min-width: 556px) {
    .project-categories-container {
        flex-direction: row;
        height: 120px;
        align-content: flex-start;
    }

    .proj-cat-lnk-container {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 760px) {
    .project-categories-container {
        height: 100px;
    }

    .proj-cat-lnk-container {
        flex-basis: 24%;
    }

    .proj-cat-lnk {
        height: 10px;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1100px){
    .project-categories-container {
        width: 1000px;
       margin: 0 auto;
    }

    .proj-cat-lnk-container {
        flex-basis: 20%;
    }

    .proj-cat-lnk {
        height: 20px;
        margin: 0;
    }

    .grid {
        margin: 40px auto;
    }

    .grid-sizer,
    .grid-item {
        width: 24.5%;
        margin: 0;
    }

    .gutter-sizer {
        width: 5px;
    }

    .proj-title,
    .proj-loc {
        min-width: 100px;
    }
}

@media screen and (min-width: 1150px) {
    .grid {
        width: 1100px;
    }
}